#wrapper {
  background-color: green;
  display: flex;
  flex-direction: row;
  height: 800px;
}

.leftSide {
  background-color: red;
  flex: 1;
}

.rightSide {
  background-color: blue;
  flex: 1;
}

.value {
  background-color: yellow;
  padding: 10px;
  color: black;
  border: 1px solid black;
  margin: 10px;
}